<%= render "shared/header" %>
<div class="main">
  <h2 class="title-sub">＜技術の情報を入力＞</h2>
  <div class="techniques-main">
    <%= form_with model: @technique,local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="new-techniques">
        <h3 class="title-usa">看護技術</h3>
        <%= f.text_area :title, class:"techniques-text", placeholder:"技術名（必須 40文字まで)", maxlength:"40" %>
        <div class="techniques-explain">
          <h3 class="title-usa">技術の説明</h3>
          <%= f.text_area :description, class:"techniques-text", placeholder:"技術の説明" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <h3 class="manual">マニュアル
          <%= f.file_field :video, :accept => 'video/*' %>
        </h3>
        <h3 class="title-usa">優先度
          <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"technique-priority"}) %>
        </h3>
        <h3 class="title-usa" for="">技術習得予定日
          <%= f.date_select :target_on, {}, class: 'form-control' %><br>
        </h3>
        <h3 class="title-usa" for="">技術習得締め日
          <%= f.date_select :completed_on, {}, class: 'form-control' %>
        </h3>
        <% if user_signed_in? && current_user.nursing_history >= 4 %>
          <%= f.submit "変更する" ,class:"technique-btn" %>
        <% end %>
        <%=link_to 'トップへもどる', root_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>