<%= render "shared/header" %>
<div class='main'>
  <div class="plans">
    <h2 class='title-sub'>＜予定一覧＞</h2>
    <%= week_calendar events: @meetings do |date,meetings| %>
      <%= date %>
      <% meetings.each do |meeting| %>
        <div>
          <%= meeting.name %>
          <%= link_to '削除', meeting_path(meeting.id), method: :delete, class:'meeting-destroy' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="category">
    <div class='rookies'>
      <h2 class='title-sub'>＜新人看護師＞</h2>
      <ul class='rookie-lists'>
        <% @users.each do |user| %>
          <li class='list'>
            <%= link_to user_path(user.id) do %>
              <div class='rookie-info'>
                <h3 class='rookie-name'>
                  <%= user.name %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class='techniques'>
      <h2 class='title-sub'>＜技術項目＞</h2>
      <ul class='technique-lists'>
        <% @techniques.each do |technique| %>
          <li class='list'>
            <%= link_to technique_path(technique.id) do %>
              <div class='technique-info'>
                <h3 class='technique-name'>
                  <%= technique.title %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
