<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Card__title">
    <h2>カード情報</h2>
  </div>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
    <%= @user.name %>
    <%= @user.nursing_history %>
    <%= @user.ward_id %>
  </div>
  <div class="Technique＿info">
    <h2>技術情報</h2>
    <%= render partial: 'techniques/technique', collection: @techniques %>
  </div><br>
  <div class="Comment＿info">
    <h2>質問・悩み</h2>
    <%= render partial: 'posts/post', collection: @posts %>
    <h2>質問テーマ</h2>
    <%= form_for @post do |f| %>
      <%= f.text_field :content %>
      <%= f.submit '質問する' %>
    <% end %>
  </div>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete%><br>
   <%= link_to "戻る", root_path%>
</div>