<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Card__title">
    <h2>カード情報</h2>
  </div>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
    <%= @user.name %>
    <%= @user.nursing_history %>
    <%= @user.ward_id %>
  </div>
  <div class="Technique＿info">
    <h2>技術情報</h2>
    <%= render partial: 'techniques/technique', collection: @techniques %>
  </div><br>
    <div class="comments-box">
     <%= form_with model: [@user,@comment], local: true, method: :post do |f| %>
        <%= f.text_field :text %>
        <%= f.submit '送信' %>
      <% end %>
      <div class='comments'>
        <% @comments.each do |comment| %>
          <p><%= comment.text %><%= comment.user.name %></p>
          <% if user_signed_in? && current_user.id == @comment.user_id %>
            <%= link_to "編集する", edit_comment_path(comment.id), class: :comment__btn %>
            <%= link_to "削除する", comment_path(comment.id), method: :delete, class: :comment__btn %>
          <% end %>
        <% end %>
      </div>
    </div>
   
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete%><br>
   <%= link_to "戻る", root_path%>
</div>