<h1>質問詳細ページ</h1>
<h3><%= @post.user.name %></h3>
<h3><%= @post.content %></h3>

<div class="comments-box">
  <%= form_with model: [@post,@comment], local: true, method: :post do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'コメントする' %>
  <% end %>
  <div class='comments'>
    <% @comments.each do |comment| %>
      <p><%= comment.content %><%= comment.user.name %></p>
    <% end %>
  </div>
</div>

<%= link_to "ホームへ戻る", root_path %>
