<%= render "shared/header" %>
<div class="main">
  <div class="comment-box">
    <h2 class='title-user'>＜質問情報＞</h2>
    <div class="user-example1">
      <p>質問者：<%= @post.user.name %></p>
      <p>テーマ：<%= @post.content %></p>
    </div>
    <div class="comments-box">
      <%= form_with model: [@post,@comment], local: true, method: :post do |f| %>
        <%= f.text_area :content %>
        <p><%= f.submit 'コメントする' %></p>
      <% end %>
      <div class='comments'>
        <% @comments.each do |comment| %>
        <p><%= comment.content %><%= comment.user.name %></p><hr>
        <% end %>
      </div>
    </div>
    <%= link_to "トップへ戻る", root_path %>
  </div>
</div>
<%= render "shared/footer" %>
